* {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

body {
	background-color: black;
	color: white;
}

img {
	width: 100%;
	height: 100%;
}

hr {
	width: 90%;
	margin: 1% 5%;

	border-style: solid none none none;
	border-width: 2px;
	color: #B3B3B3;
}

b {
	font-weight: 500;
}

code {
	font-family: "Roboto mono", monospace;
	font-size: 16px;

	line-height: inherit;
}

.header-wrapper {
	color: #FFFFFF;
	background-color: #212121;

	width: 60vw;
	height: 8vh;
	padding: 0 20vw 0 20vw;
}

.header-icon {
	height: 32px;
	width: 32px;
	float: left;
	padding-top:    calc((8vh - 32px) / 2);
	padding-right:  calc((8vh - 32px) / 2);
	padding-bottom: calc((8vh - 32px) / 2);
	padding-left: 0;
}

.header-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	padding: calc((8vh - 32px) / 2) 0;
}

.content-wrapper {
	/*background-color: #64FFDA;*/
	width: 60vw;
	height: auto;
	margin: 0 20vw 0 20vw;
}

.content-row {
	height: 40vh;
	margin: 4vh 0;
}

.qrcode {
	width: 40vh;
	height: inherit;
	display: inline-block;
	margin-right: 4vh;
}

.event-box {
	background-color: #212121;

	vertical-align: top;

	/* 60vw is the width of the content column */
	/* 44vh is the width of the qrcode on the left (with margin inbetween) */
	width: calc(60vw - 44vh);
	height: 40vh;
	display: inline-block;
}

.event-box-title {
	font-size: 20px;
	font-weight: 500;

	line-height: 32px;

	padding: 6px;

	border-style: solid;
	border-width: 2px;
	border-color: #B3B3B3;
}

.event-box-list {
	height: calc(40vh - 32px - 2 * 8px);

	overflow-x: hidden;
	overflow-y: scroll;
}

.event-box-tile {
	padding: 8px;

	font-size: 18px;
	line-height: 24px;
	padding: calc((6vh - 32px) / 2);
}

.pie-chart {
	width: 40vh;
	height: inherit;
	display: inline-block;
	margin-left: 4vh;
}

.line-plot {
	vertical-align: top;

	/* 60vw is the width of the content column */
	/* 44vh is the width of the pie chart on the right (with margin inbetween) */
	width: calc(60vw - 44vh);
	height: 40vh;
	display: inline-block;
}
