<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/roboto.css" />
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono:400,500" />-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <script src="/js/plotly-1.58.4.min.js"></script>
    <script src="/js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>-->

    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div class="header-wrapper">
        {% block header %}{% endblock %}
    </div>
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
