{% extends "base.html.jinja" %}

{% block title %}
    Lemon Finder
{% endblock %}

{% block header %}
<div class="header-icon">
    <img src="{{ url_for("static", filename="header-icon.jpg") }}" />
</div>

<div class="header-title">
    Lemon finder
</div>
{% endblock %}

{% block content %}
<div class="content-row">
    <img src="/qrcode" class="qrcode" />
    <div class="event-box">
        <div class="event-box-title">
            Recent Events
        </div>
        <div class="event-box-list" id="events-list">
            {{ events_str }}
        </div>
    </div>
</div>
<div class="content-row">
    <div id="line-plot" class="line-plot">
    </div>
    <div id="pie-chart" class="pie-chart">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

// create plotly layouts
const piechartLayout = {
  "paper_bgcolor": "rgba(0,0,0,0)",
  "showlegend": false,
  "font": {
    "family": "roboto",
    "size": 16,
  },
  "margin": {
    "l": 0,
    "t": 0,
    "r": 0,
    "b": 0,
  },
};
const lineplotLayout = {
  "paper_bgcolor": "rgba(0,0,0,0)",
  "plot_bgcolor": "rgba(0,0,0,0)",
  "showlegend": true,
  "legend": {
    "font": {
      "color": "white",
      "family": "roboto",
      "size": 16,
    },
    "bgcolor": "#212121",
    "x": 0,
    "y": 1,
  },
  "xaxis": {
    "showgrid": false,
    "zeroline": true,
  },
  "margin": {
    "l": 0,
    "t": 0,
    "r": 0,
    "b": 0,
  },
};

// create piechart
Plotly.newPlot(
  "pie-chart",
  {{ piedata }},
  piechartLayout,
);

// create linechart
Plotly.newPlot(
  "line-plot",
  {{ linedata }},
  lineplotLayout,
);

// update data event n seconds
function update() {
    console.log("update");

    // update events list
    jQuery.get("/data/events", function(data) {
        document.getElementById("events-list").innerHTML = data;
    });

    // update piechart
    jQuery.get("/data/pie-chart", function(data) {
        Plotly.react("pie-chart", data, piechartLayout);
    });

    // update linechart
    jQuery.get("/data/line-plot", function(data) {
        Plotly.react("line-plot", data, lineplotLayout);
    });
}
window.setInterval(update, {{ refresh_delay }} * 1000);  // *1000 to convert from milliseconds to seconds

</script>
{% endblock %}
